<form [formGroup]="formgroup" (ngSubmit)="onSubmit()">
  <br /><br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 ">
      <label for="category">Category:</label>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6 formgroup">
      <select id="category" formControlName="category" class="form-control">
        <option
          *ngFor="let profile of category"
          value="{{ profile.category }}"
          >{{ profile.category }}</option
        >
      </select>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 ">
      <label class="mail" for="designation">Designation:</label>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <input type="text" id="designation" formControlName="designation" />
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-sm-6"></div>
    <button type="submit" class="secondary-button">Add Designation</button>
  </div>
</form>
